
@{
    ViewBag.Title = "Index";

}

@{ 
    var todayInDate = DateTime.Now;
    var today = DateTime.Now.ToShortDateString();
    var userName = "Demo";
    Razordemo.Models.Student studentFromViewData = ViewData["StudentKey"] as Razordemo.Models.Student;
}

<h1>Razor Demo ---@ViewBag.Name</h1>
<h2>@today</h2>
<h1>Having Student Details of Name=@ViewBag.Student.Name   Id=@studentFromViewData.Id</h1>

<p>Hello @userName, Todays Date is @today</p>

@if(todayInDate.Year==2016)
{
    @todayInDate.Year @: is my favorite year.
}
else
{
    @todayInDate.Year @: is not my favorite year.
}

@for(int index=0;index<todayInDate.Day;index++)
{
    @index.ToString() <br/>
}

@Html.ActionLink("Test Student", "TestStudent")

