@model MyFirstMVCApplication.Models.SportsEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SportsEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventVenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventVenue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
